#about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 50px;
    gap: 2vw;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.about-content > * {
    margin-bottom: 20px;
}

.about-photo {
    width: 500px;
    border-radius: 15px;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 24px;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 350px;
}

.about-text.expand {
    font-size: 16px;
    gap: 15px;
}

.subtitle {
    font-size: 32px;
    font-weight: 600;
}

.about-text.expand .subtitle {
    font-size: 24px;
}

.qualifications {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    flex-basis: 350px;
}

#about .welcome-list li {
    font-size: 24px;
    padding: 10px 20px;
}

.dumbell-banner {
    display: flex;
    gap: 0.25vw;
}

.banner-dumbell {
    width: 50px;
    height: 50px;
    filter: brightness(0);
}

.horizontal-line {
    flex-grow: 1;
    height: 50%;
    border-bottom: 2px solid black;
}

.dumbell-banner.bottom {
    margin-top: auto;
}

#about .hover-button {
    margin-top: auto;
}

@media (max-width: 1565px) {
    #about .welcome-list li, .about-text {
        font-size: 20px;
    }

    .about-text.expand {
        font-size: 14px;
    }
}