#about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 50px;
    column-gap: 20px;
}

.about-photo {
    width: 700px;
    max-width: 100%;
    border-radius: 15px;
}

.about-text {
    width: 500px;
    max-width: 100%;
}

.about-text div {
    transition: all 1s ease-in-out;
    opacity: 1;
}

.about-abbreviated {
    width: 100%;
    font-size: 20px;
    height: 110px;
}

.about-paragraph {
    width: 100%;
    font-size: 16px;
    height: 260px;
}

.hidden {
    height: 0;
    overflow: hidden;
    opacity: 1;
}