.banner-wrapper {
    width: 100%;
    background-color: var(--snap-red);
    position: fixed;
    bottom: 0px;
    left: 0;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    max-width: 100vw;
    
}

.container {
    overflow: hidden;
    white-space: nowrap;
}

.scrolling {
    animation: marquee 20s linear infinite;
    display: inline-block;
    padding-right: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 50px;
}

.scrolling.pause {
    animation-play-state: paused;
}

.enquiry-link {
    color: var(--central-blue);
    filter: brightness(2);
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

@keyframes marquee {
from {
    transform: translateX(0);
}
to { 
    transform: translateX(-100%);
}
}