#calendar {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.calendar-content-wrapper {
    display: flex;
    justify-content: center;
    margin: 0px 50px;
    flex-wrap: wrap;
}

.calendar-paragraph {
    width: 350px;
    max-width: 100%;
    margin-bottom: 30px;
}

.calendar-title {
    width: 100%;
    font-size: 32px;
    margin-bottom: 15px;
}

.calendar-text {
    font-size: 20px;
    padding-right: 50px;
}

.calendly-wrapper {
    width: 600px;
    height: 500px;
    max-width: 100%;
}