#contact {
    flex-direction: column;
    padding-bottom: 0px;
}

.contact-wrapper {
    display: flex;
    gap: 5vw;
}

.contact-form {
    width: 400px;
    height: 550px;
    max-width: 100%;
    padding: 40px;
    background: var(--central-blue);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #fff;
    box-sizing: border-box;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 100%;
}

.form-wrapper form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

::placeholder {
    color: #fff;
}

#contact input, #contact textarea, #contact select {
    border: none;
    border-bottom: 3px solid #fff;
    font-size: 16px;
    padding: 10px 0px;
    width: 100%;
    background: transparent;
    color: #fff
}

#contact input, #contact textarea {
    text-indent: 4px;
}

#contact input:focus, #contact textarea:focus, #contact select:focus {
    outline: none;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

#contact input:hover, #contact textarea:hover, #contact select:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

#contact select option {
    padding: 0;
}

textarea {
    resize: none;
    height: 100px
}

label {
    font-weight: 600;
    display: block;
}

label:not(:first-of-type) {
    margin-top: 10px;
}

/* .submit-button {
    width: 6.5em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    font-size: 20px;
} */

.submit-button {
    display: block;
    margin-top: 20px;
    font-size: 20px;
}

.genderOptions {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
}

.gender {
    display: flex;
    margin-right: 15px;
}

.gender label {
    font-weight: 400;
    margin-right: 10px;
}

#contact .gender input {
    margin: 0;
    width: 20px;
}

.calendar-content-wrapper {
    display: flex;
    flex-direction: column;
}

.calendar-paragraph {
    width: 350px;
    max-width: 100%;
    margin-bottom: 30px;
}

.calendar-text {
    font-size: 20px;
    padding-right: 50px;
}

.calendly-wrapper {
    width: 480px;
    height: 630px;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.middle-divider {
    width: 10px;
    position: relative;
}

.divider {
    width: 50%;
    border-right: 2px solid black;
    height: 100%;
}

#contact .icons-wrapper {
    position: absolute;
    top: calc(50% - 90px);
    left: calc(50% - 35px);
    background: #fff;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact .icons-wrapper img {
    width: 70px;
}
#contact .icons-wrapper img:hover {
    opacity: 0.8;
}

select option, select optgroup {
    color: #000;;
}

.enquiry-form-wrapper .sub-header {
    margin-bottom: 0;
    max-width: 400px;
}

.footer {
    background: var(--central-blue);
    width: 100vw;
    text-align: center;
    color: #fff;
    padding: 20px 10px 60px;
}

@media (max-width: 1200px) {
    .contact-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .middle-divider {
        width: 100%;
    }

    .icons-wrapper {
        position: static;
        flex-direction: row;
        justify-content: center;
    }

    .sub-header {
        font-size: 6.5vw;
        text-align: center;
        margin: 0;
    }

    .enquiry-form-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0px 10px;
        box-sizing: border-box;
    }

    .contact-form {
        height: auto;
    }

    #contact .icons-wrapper {
        position: static;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .calendar-content-wrapper {
        gap: 20px;
        padding: 0px 10px;
        box-sizing: border-box;
    }
}