#contact {
    flex-direction: column;
}

.contact-wrapper {
    display: flex;
    gap: 5vw;
}

.contact-form {
    width: 400px;
    max-width: 95%;
    padding: 40px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #000
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#contact input, #contact textarea, #contact select {
    border: none;
    border-bottom: 3px solid rgba(0,0,0,0.2);
    font-size: 16px;
    padding: 10px 0px;
    width: 100%;
}

#contact input, #contact textarea {
    text-indent: 4px;
}

#contact input:focus, #contact textarea:focus, #contact select:focus {
    outline: none;
    border-bottom: 3px solid var(--central-blue);
}

#contact input:hover, #contact textarea:hover, #contact select:hover {
    border-bottom: 3px solid var(--central-blue);
}

#contact select option {
    padding: 0;
}

textarea {
    resize: none;
    height: 100px
}

label {
    font-weight: 600;
    display: block;
}

label:not(:first-of-type) {
    margin-top: 10px;
}

/* .submit-button {
    width: 6.5em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    font-size: 20px;
} */

.submit-button {
    display: block;
    margin-top: 20px;
    font-size: 20px;
}

.genderOptions {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
}

.gender {
    display: flex;
    margin-right: 15px;
}

.gender label {
    font-weight: 400;
    margin-right: 10px;
}

#contact .gender input {
    margin: 0;
    width: 20px;
}

.calendar-content-wrapper {
    display: flex;
    flex-direction: column;
}

.calendar-paragraph {
    width: 350px;
    max-width: 100%;
    margin-bottom: 30px;
}

.calendar-text {
    font-size: 20px;
    padding-right: 50px;
}

.calendly-wrapper {
    width: 600px;
    height: 630px;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.middle-divider {
    width: 10px;
}

.divider {
    width: 50%;
    border-right: 1px solid black;
    height: 100%;
}