:root {
  --central-blue: #0074d9;
  --alternate-blue: #1b2966;
  --snap-red: #c4161c;
}

html {
  scroll-padding-top: 80px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8e8e8;
  box-sizing: border-box;
  
}

* {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.4em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section {
  padding: 50px 0px;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-button {
  background: none;
  padding: 10px 0px;
  border: 2px solid var(--central-blue);
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: color 0.5s ease;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
}

.hover-button .text {
  position: relative;
  z-index: 1;
}

.hover-button:hover {
    color: #fff;
}

.hover-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--central-blue); /* The fill color (e.g., tomato red) */
  transform: scaleX(0); /* Start with zero width */
  transform-origin: left; /* Ensure it scales from the left */
  transition: transform 0.5s ease; /* Animate the transform */
}

.hover-button:hover::after {
  transform: scaleX(1); /* Fill the container on hover */
}

.section.blue {
  background: linear-gradient(315deg, hsla(208, 100%, 43%, 1) 0%, hsla(208, 100%, 17%, 1) 100%);
  color: #fff;
}

.section-header {
  font-size: 48px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.arrow {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0px;
  top: calc(50% - 15px);
  background-color: rgba(0,0,0,0.4);
  background-image: url("../media/arrow.svg");
  background-position: calc(50% + 2px) 50%;;
  background-size: 70%;
  background-repeat: no-repeat;
  z-index: 1;
  cursor: pointer;
  border-radius: 50%;
  transform: translateX(-50%);
}

.arrow.prev {
  left: 0;
  right: auto;
  transform: rotate(180deg) translateX(-50%);
}
