.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 80px;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.inner-wrapper {
    color: #fff;
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    gap: 25px;
}

.navbar-title {
    font-size: 28px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.navbar-links {
    font-size: 20px;
    display: flex;
    height: 80px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

.options-wrapper {
    display: flex;
    flex-direction: column;
    height: 80px;
    overflow: hidden;
    transition: height 0.25s ease-in-out;
    cursor: pointer;
}

.options-wrapper span {
    line-height: 80px;
    text-align: center;
}

.options {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.options-wrapper:hover {
    height: 170px;
}

.options a {
    font-size: 16px;
    padding: 0px 10px 10px;
    text-align: center;
    width: 100%;
}

.link-header {
    padding: 0px 15px;
}