#personalTraining {
    display: flex;
    flex-direction: column;
}

.pt-section {
    max-width: 90%;
    text-align: center;
    font-size: 20px;
}

.pt-section .bold {
    font-size: 24px;
}

.pricing-container {
    height: 300px;
    width: 300px;
    /* -webkit-mask:
        radial-gradient(circle 40px at top right,#0000 98%,#000) top right;  
    -webkit-mask-size:51% 51%;
    -webkit-mask-repeat:no-repeat; */
    position: relative;
    background: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: black;
}

/* .logo-container {
    background: #6f7074;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    position: absolute;
    top: -50px;
    right: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
} */

.snap-logo {
    width: 250px;
}

.pricing-points {
    margin: 0;
    padding: 0;
}
