#personalTraining {
    display: flex;
    flex-direction: column;
}

.pt-section {
    max-width: 90%;
    text-align: center;
    font-size: 20px;
}

.pt-section .bold {
    font-size: 24px;
}

.pricing-container {
    background: white;
    height: 300px;
    width: 300px;
    /* -webkit-mask:
        radial-gradient(circle 40px at top right,#0000 98%,#000) top right;  
    -webkit-mask-size:51% 51%;
    -webkit-mask-repeat:no-repeat; */
    position: relative;
}

.offset-border {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 300px;
    height: 300px;
    border: 3px solid white;
}
