#process {
    padding: 50px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
}

.carousel {
    position: relative;
    max-width: 95%
}

.slides {
    width: 1080px;
    height: 300px;
    background: white;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    transition: height 0.5 ease-in-out
}

.slides.expand {
    height: 675px;
}

.slides .slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(100% - 80px);
    transition: transform 0.5s ease-in-out;
    padding: 0px 40px
}

.slides .slide:nth-child(1) {
    left: 0;
}
.slides .slide:nth-child(2) {
    left: 100%;
}
.slides .slide:nth-child(3) {
    left: 200%;
}
.slides .slide:nth-child(4) {
    left: 300%;
}
.slides .slide:nth-child(5) {
    left: 400%;
}
.slides .slide:nth-child(6) {
    left: 500%;
}
.slides .slide:nth-child(7) {
    left: 600%;
}

.slide-header {
    font-size: 20px;
    margin-bottom: 10px;
}

#process .arrow {
    transform: translateX(0);
}

#process .arrow.prev {
    transform: rotate(180deg)
}

.slide-content {
    display: flex;
}

.slide-content img {
    width: 500px;
}