#process {
    padding: 50px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
}

.carousel {
    position: relative;
}

.slides {
    width: 600px;
    height: 300px;
    background: white;
    position: relative;
    overflow: hidden;
}

.slides .slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.slides .slide:nth-child(1) {
    left: 0;
    background: red;
}
.slides .slide:nth-child(2) {
    left: 100%;
    background: blue;
}
.slides .slide:nth-child(3) {
    left: 200%;
    background: green;
}
.slides .slide:nth-child(4) {
    left: 300%;
    background: yellow;
}