#specialisation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduction-grid {
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
}

.introduction-grid .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.introduction-grid .grid-wrapper div {
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 17px;
    flex-direction: column;
}

/* .introduction-grid .grid-wrapper div:not(:first-of-type) {
    border-left-width: 1px;
    border-left-style: solid; 
}

.introduction-grid .grid-wrapper:not(:first-of-type) {
    border-left-width: 1px;
    border-left-style: solid; 
} */

.welcome-icon {
    background: var(--central-blue);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 15px;
}

.welcome-icon img{
    width: 60px;
    height: 60px;
    filter: grayscale(1) brightness(5)
}

.introduction-grid .grid-wrapper div.subsection-header {
    font-size: 20px;
    font-weight: 600
}

.welcome-list {
    text-align: left;
    margin: 0;
    padding: 0;
}

.welcome-list li {
    list-style: none;
    font-size: 16px;
    padding: 10px 20px;
    display: flex;
    align-items: center;

}

.welcome-list li .bullet {
    display: block;
    height: 15px;
    width: 15px;
    background-image: url("../media/dumbell.svg");
    background-size: contain;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.welcome-list li span:not(.bullet) {
    width: calc(100% - 25px);
}

/* .welcome-list li span {
    margin-left: 25px;
    text-indent: -25px;
    display: inline-block;
} */

/* .introduction-grid span {
    display: block;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    filter: invert(1);
}

.goal {
    background-image: url("../media/goal.svg");
}

.health {
    background-image: url("../media/health.svg");
}

.hourglass {
    background-image: url("../media/hourglass.svg");
}

.plan {
    background-image: url("../media/plan.svg");
} */

/* .separator {
    display: block;
    position: absolute;
    background-color: #fff;
    width: 10px;
    height: 10px;
    left: -5px;
    top: calc(50% - 5px);
    border-radius: 50%;;
} */