#testimonials {
    flex-direction: column;
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
}

#testimonials .carousel {
    display: flex;
    gap: 20px;
    position: relative;
    overflow: hidden;
    width: 90%;
}

.testimonial {
    border-radius: 25px;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
    color: #000;
    width: 300px;
    flex-shrink: 0;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.testimonial-name {
    color: var(--central-blue);
    font-size: 20px;
    font-weight: 700;
    border-bottom: 2px solid var(--central-blue);
}

.job-title {
    font-style: italic;
    opacity: 0.5;
    display: none;
}

.testimonial-body {
    overflow: auto;
    height: 75px;
    position: relative;
}
