#welcome {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background:
        /* linear-gradient(
            0deg, rgba(255,255,255,1) 0%,
            rgba(255,255,255,0.4) 15%,
            rgba(255,255,255,0.25) 20%,
            rgba(255,255,255,0) 50%,
            rgba(255,255,255,0) 100%
        ), */
        linear-gradient(315deg, hsla(208, 100%, 43%, 1) 0%, hsla(208, 100%, 17%, 1) 100%);
    padding: 170px 0px 50px;
    position: relative;
}

.logo-container {
    margin-top: 20px;
}

.logo {
    background-image: url("./assets/logo.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 222.25px;
    height: 201.5px;
    display: block;
}

.welcome-text-wrapper {
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: calc(99vw - 600px);
}

.welcome-title {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 10px;
}

.welcome-subtitle {
    font-size: 38px;
    margin-bottom: 10px;
}

.welcome-message {
    font-size: 28px;
    max-width: 900px;
}

.content-wrapper {
    display: flex;
    gap: 50px;
}

.welcome-video {
    height: 800px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.welcome-header {
    display: flex;
    gap: 40px;
}

.welcome-header-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (max-width: 1515px) {
    .welcome-title {
        font-size: 3.2vw;
    }

    .welcome-subtitle {
        font-size: 2.5vw;
    }

    .welcome-message {
        font-size: 1.8vw;
    }
}
