.welcome {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.logo-container {
    margin-top: 20px;
}

.logo {
    background-image: url("../media/logo.svg");
    background-size: contain;
    width: 150px;
    height: 150px;
    display: block;
}

.welcome-title {
    font-size: 42px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 25px;
}

.introduction-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
}

.introduction-grid div {
    text-align: center;
    padding: 9px;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 17px;
}

.introduction-grid span {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    opacity: 0.1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto auto auto auto;
}

.goal {
    background-image: url("../media/goal.svg");
}

.health {
    background-image: url("../media/health.svg");
}

.hourglass {
    background-image: url("../media/hourglass.svg");
}

.plan {
    background-image: url("../media/plan.svg");
}

