#welcome {
    padding-top: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background:
        linear-gradient(315deg, hsla(208, 100%, 43%, 1) 0%, hsla(208, 100%, 17%, 1) 100%);
    padding-bottom: 200px;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 20%, rgba(255,255,255,0) 100%);
}

.logo-container {
    margin-top: 20px;
}

.logo {
    background-image: url("../media/logo.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    display: block;
}

.welcome-title {
    font-size: 42px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 25px;
    font-style: italic;
}

.introduction-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-left: 50px;
    margin-right: 50px;
}

.introduction-grid .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.introduction-grid .grid-wrapper div {
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 17px;
    flex-direction: column;
}

.introduction-grid .grid-wrapper:not(:first-of-type) {
    /* border-image: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    border-left-width: 1px;
    border-left-style: solid; */
}

.introduction-grid .grid-wrapper div {
    -webkit-box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.75);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

/* .introduction-grid span {
    display: block;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    filter: invert(1);
}

.goal {
    background-image: url("../media/goal.svg");
}

.health {
    background-image: url("../media/health.svg");
}

.hourglass {
    background-image: url("../media/hourglass.svg");
}

.plan {
    background-image: url("../media/plan.svg");
} */

/* .separator {
    display: block;
    position: absolute;
    background-color: #fff;
    width: 10px;
    height: 10px;
    left: -5px;
    top: calc(50% - 5px);
    border-radius: 50%;;
} */

